.form-style {
  height: 450px;
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-radius: 100px;
  position:relative; 
  left:120px; 
  top:150px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
  background-color: #fbfffe;
  line-height: 18pt;
}

.form-style input[type=text],
.form-style input[type=date],
.form-style input[type=number],
.form-style input[type=url],
.form-style select, 
.form-style textarea {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid gray;
	outline: none;
	color: gray;
	padding: 5px 8px 5px 8px;
	background: #fbfffe;
	width:50%;
}

label {
  color: #001514;
}